<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<main role="main" class="container-xl">
    <h1 class="mt-5">Wettk&auml;mpfe</h1>

    <div th:replace="~{fragments/messages :: messages}"></div>

    <div class="row mb-3">
        <form th:action="@{/web/competitions}">
            <div class="input-group flex-nowrap">
                <div class="input-group-text">
                    <i class="fa fa-search"></i>
                </div>
                <input id="keyword" type="search" name="keyword" th:value="${keyword}" required
                       class="form-control"
                       placeholder="Suchbegriff">
                <button type="submit" class="btn btn-outline-secondary">Suchen</button>
                <button id="btnClear" class="btn btn-outline-secondary">Zurücksetzen</button>
            </div>
        </form>
    </div>

    <div class="row mb-3">
        <div class="col-sm-10"></div>
        <div class="col-sm-2">
            <a th:href="@{/web/competitions/new}" class="btn btn-primary container-fluid">Neuer Wettkampf</a>
        </div>
    </div>


    <div class="row mb-3" th:if="${competitions.length > 0}">
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Kürzel</th>
                <th scope="col">Von</th>
                <th scope="col">Bis</th>
                <th scope="col">Zeiten</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="competition : ${competitions}">
                <th scope="row">
                    <a th:href="@{'/web/competition/' + ${competition.id} + ''}">[[${competition.name}]]</a>
                </th>
                <td>
                    <a th:href="@{'/web/competition/' + ${competition.id} + ''}">[[${competition.acronym}]]</a>
                </td>
                <td>
                    <a th:href="@{'/web/competition/' + ${competition.id} + ''}">[[${competition.from}]]</a>
                </td>
                <td>
                    <a th:href="@{'/web/competition/' + ${competition.id} + ''}">[[${competition.till}]]</a>
                </td>
                <td>
                    <a th:href="@{'/web/results/competition/' + ${competition.id} + ''}">Ergebnisse</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row mb-3" th:unless="${competitions.length > 0}">
        <span>No competitions found!</span>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
