<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<main role="main" class="container-xl">
    <h1 class="mt-5">Fehler</h1>

    <div th:replace="~{fragments/messages :: messages}"></div>

    <p>Es ist ein Fehler aufgetreten.</p>
    <p th:if="${statuscode != null}">HTTP-Fehler: [[${statuscode}]]</p>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
